<ul class="list-group">
    <li class="list-group-item">
        <i class="fa fa-tags"></i>
        Anunturile mele
    </li>
    <li class="list-group-item">
        <i class="fa fa-plus"></i>
        Adauga cerere
    </li>
    <li class="list-group-item">
        <i class="fa fa-align-left"></i>
        Cereri
    </li>
    <li class="list-group-item">
        <i class="fa fa-align-justify"></i>
        Cereri Active
    </li>
    <li class="list-group-item">
        <i class="fa fa-truck"></i>
        Cereri Finalizate
    </li>
</ul>