.card {
    overflow: hidden;
    .card-image {
        overflow: hidden;
        img {
            -webkit-transition: 0.4s ease;
            transition: 0.4s ease;
        }
    }
    &:hover {
        cursor: pointer;

        .card-image {
            img {
                -webkit-transform: scale(1.08);
                transform: scale(1.08);
            }
        }
    }
}