<div class="container  mt-4 mb-5">
    <div class="row">
        <div class="col-sm-4  mt-4" *ngFor="let announcement of announcements">
            <div class="card" [routerLink]="['/offers', category, county, searchTerm ? searchTerm : 'any', 'id']">
                <div class="card-image">
                    <img class="card-img-top" src="{{announcement.image}}" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">{{ announcement.name }}</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            Mihai P.
                        </div>
                        <div class="col-sm-6">
                            {{ announcement.location.city }}({{announcement.location.distance}} km - {{announcement.location.timeToDestination}} minute)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12" *ngIf="announcement.quantity">
                            {{announcement.quantity}} {{announcement.unit}} disponibile
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            {{announcement.startDate | date}} - {{announcement.endDate | date}}
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <h5 class="font-bold">{{announcement.price}} Lei/{{announcement.unit}}</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
