<div class="container  mt-4 mb-5">
    <div class="row">
        <div class="col-sm-4  mt-4">
            <div class="card" [routerLink]="['/announcements', category, county, searchTerm ? searchTerm : 'any', 'id']">
                <div class="card-image">
                    <img class="card-img-top" src="../../../assets/images/dashboard/dashboard.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Rosii</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            Mircea I.
                        </div>
                        <div class="col-sm-6">
                            Hidisel(7km)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            31kg disponibile
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            14 mai - 20 mai
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <h5 class="font-bold">3 Lei/Kg</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4  mt-4">
            <div class="card" [routerLink]="['/announcements', category, county, searchTerm ? searchTerm : 'any', 'id']">
                <div class="card-image">
                    <img class="card-img-top" src="../../../assets/images/dashboard/dashboard.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Rosii</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            Mircea I.
                        </div>
                        <div class="col-sm-6">
                            Hidisel(7km)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            31kg disponibile
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            14 mai - 20 mai
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <h5 class="font-bold">3 Lei/Kg</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4  mt-4">
            <div class="card" [routerLink]="['/announcements', category, county, searchTerm ? searchTerm : 'any', 'id']">
                <div class="card-image">
                    <img class="card-img-top" src="../../../assets/images/dashboard/dashboard.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Rosii</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            Mircea I.
                        </div>
                        <div class="col-sm-6">
                            Hidisel(7km)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            31kg disponibile
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            14 mai - 20 mai
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <h5 class="font-bold">3 Lei/Kg</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4  mt-4">
            <div class="card" [routerLink]="['/announcements', category, county, searchTerm ? searchTerm : 'any', 'id']">
                <div class="card-image">
                    <img class="card-img-top" src="../../../assets/images/dashboard/dashboard.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Rosii</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            Mircea I.
                        </div>
                        <div class="col-sm-6">
                            Hidisel(7km)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            31kg disponibile
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            14 mai - 20 mai
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <h5 class="font-bold">3 Lei/Kg</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4  mt-4">
            <div class="card" [routerLink]="['/announcements', category, county, searchTerm ? searchTerm : 'any', 'id']">
                <div class="card-image">
                    <img class="card-img-top" src="../../../assets/images/dashboard/dashboard.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Rosii</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            Mircea I.
                        </div>
                        <div class="col-sm-6">
                            Hidisel(7km)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            31kg disponibile
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            14 mai - 20 mai
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <h5 class="font-bold">3 Lei/Kg</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-4  mt-4">
            <div class="card" [routerLink]="['/announcements', category, county, searchTerm ? searchTerm : 'any', 'id']">
                <div class="card-image">
                    <img class="card-img-top" src="../../../assets/images/dashboard/dashboard.jpg" alt="Card image cap">
                </div>
                <div class="card-body">
                    <h5 class="card-title">Rosii</h5>
                    <div class="row">
                        <div class="col-sm-6">
                            Mircea I.
                        </div>
                        <div class="col-sm-6">
                            Hidisel(7km)
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            31kg disponibile
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12">
                            14 mai - 20 mai
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-12 text-right">
                            <h5 class="font-bold">3 Lei/Kg</h5>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>