.user-header {
    padding: 10px 0;

    i {
        font-size: 22px;
        cursor: pointer;
    }

    .dropdown {
        display: inline-block;

        button {
            min-width: auto;
            background: transparent;
            border: none;
            box-shadow: none;
            font-weight: 500;
        }
    }
}