.dashboard {
    min-height: 100vh;
    width: 100%;
    background: url('../../assets/images/dashboard/dashboard.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;

    .custom-dropdown {
        .dropdown-toggle {
            font-size: 20px;
        }
    }
}