@import url("https://fonts.googleapis.com/css?family=Montserrat:500,700");

body {
    font-family: 'Montserrat';
}
.font-bold {
    font-weight: bold!important;
}
.back-button {
    font-size: 22px;
}
.navbar {
    background-image: linear-gradient(to right, #a2ff83 , #7effca);

    .container {
        padding-top: 10px;
        padding-bottom: 10px;
    }
}
.color-white {
    color: #FFF;
}

/* Select */
.dropdown-wrapper {
    width: 100%;
    padding: 12px 16px;
    border: 3px solid #FFF;
    cursor: pointer;
    outline: none;
    color: #FFF;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    &.active {
        border-bottom-left-radius: 0;
        border-bottom-right-radius: 0;
    }
    input {
        cursor: pointer;
        background: transparent;
        font-size: 20px;
        color: #FFF;
    }
    .dropdown {
        padding-left: 0;
        background: #fff;
        border-radius: 0 0 5px 5px;
        border-top: none;
        box-sizing: border-box;
        max-height: 203px;
        border: 3px solid #FFF;
        border-top: 0;
        margin-left: -3px;
        margin-right: -3px;
        .option:hover  {
            color: #9a9a9a;
        }
        .option {
            padding: 0.8em;
            border-bottom: 1px solid rgb(206, 205, 201);
            text-decoration: none;
            color: rgb(110, 108, 105);
        }
    }
    .caret {
        right: 12px!important;
    }
    .caret {
        &::after {
            content: "▼";
            text-align: center;
        }
    }
}

/* Buttons */
.btn {
    background-size: 200% auto;
    border: none;
    padding: 15px 25px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    transition: 0.5s;
    min-width: 250px;
    -webkit-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.39);
    box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.39);
    &.btn-primary {
        background-image: linear-gradient(to right, #768bb9 0%, #7cd8d9 51%, #768bb9 100%);
    }
    &.btn:hover {
        background-position: right center;
    }
}

/* Placeholder */
.form-control::-webkit-input-placeholder {
    color: #9a9a9a;
}
.form-control::-moz-placeholder {
    color: #9a9a9a;
}
.form-control:-ms-input-placeholder {
    color: #9a9a9a;
}
.form-control:-moz-placeholder {
    color: #9a9a9a;
}

/* Inputs */
.search-input {
    width: 100%;
    padding: 30px;
    font-size: 22px;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
    -webkit-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.39);
    box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.39);
}
.search-input:focus {
    background: #FFF;
}

/* Card */
.card {
    cursor: pointer;
    border-radius: 15px;
    -webkit-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.39);
    -moz-box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.39);
    box-shadow: 0px 6px 17px 0px rgba(0,0,0,0.39);
    overflow: hidden;

    .card-image {
        overflow: hidden;
        img {
            -webkit-transition: 0.4s ease;
            transition: 0.4s ease;
        }
    }
    &:hover {
        .card-image {
            img {
                -webkit-transform: scale(1.08);
                transform: scale(1.08);
            }
        }
    }
    .card-img-top {
        border-top-left-radius: 15px;
        border-top-right-radius: 15px;
    }
    .card-title {
        font-weight: bold;
    }
}

/* Image transition */
.img-content {
    overflow: hidden;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;

    img {
        -webkit-transition: 0.4s ease;
        transition: 0.4s ease;
    }
    &:hover {
        img {
            -webkit-transform: scale(1.08);
            transform: scale(1.08);
        }
    }
}