<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <app-user-layout-header class="w-100"></app-user-layout-header>
    </div>
</nav>

<div class="wrapper">
    <nav id="sidebar">
        <app-user-layout-sidebar></app-user-layout-sidebar>
    </nav>

    <div id="content">
        <div class="container-fluid">
            <div class="toggle-sidebar mb-2" (click)="toggleSidebar()">
                <i class="fa fa-times"></i>
            </div>
            <router-outlet></router-outlet>
        </div>
    </div>
</div>

<div id="modals-container">

    <div id="modalTest" class="modal fade" tabindex="-1" role="dialog">
        <div class="modal-dialog" role="document">
            <div class="modal-content">
                <div class="modal-header">
                    <h5 class="modal-title">Modal title</h5>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close" (click)="close('#modalTest')">
                        <span aria-hidden="true">&times;</span>
                    </button>
                </div>
                <div class="modal-body">
                    <p>Modal body text goes here.</p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-primary">Save changes</button>
                    <button type="button" class="btn btn-secondary" data-dismiss="modal" (click)="close('#modalTest')">Close</button>
                </div>
            </div>
        </div>
    </div>

</div>
