.toggle-sidebar {
    cursor: pointer;
    width: 50px;
    height: 50px;
    background: #a2ff83;
    color: #FFF;
    text-align: center;
    border-radius: 50%;

    i {
        vertical-align: middle;
        margin-top: 13px;
        font-size: 22px;
    }
}

.wrapper {
    display: flex;
    width: 100%;
    align-items: stretch;
}

#sidebar {
    min-width: 340px;
    max-width: 340px;
    background: #424242;
    color: #fff;
    transition: all 0.3s;
    padding: 30px;

    &.active {
        margin-left: -340px;
    }
}


#content {
    width: 100%;
    padding: 20px;
    min-height: 100vh;
    transition: all 0.3s;
}

@media (max-width: 768px) {
    #sidebar {
        margin-left: -340px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    .toggle-sidebar {
        .fa-times {
            &::before {
                content: "\f0c9";
            }
        }
        .fa-bars {
            &::before {
                content: "\f00d";
            }
        }
    }
}